<fieldset data-hook="credit_card">
  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:identifier) %>:</dt>
        <dd><%= payment.number %></dd>

        <dt><%= t('solidus_paypal_braintree.nonce') %>:</dt>
        <dd><%= payment.source.nonce %></dd>

        <dt><%= Spree.t(:response_code) %>:</dt>
        <dd><%= payment.response_code %></dd>
      </dl>
    </div>
  </div>
</fieldset>
