<% content_for :page_title do %>
  <%= t(:title, scope: 'solidus_paypal_braintree.configurations') %>
<% end %>

<%= form_for :configurations, url: solidus_paypal_braintree.configurations_path do |f| %>
  <% @configurations.each do |config| %>
    <div class="row">
      <fieldset>
        <legend><%= config.store.name %></legend>

        <%= f.fields_for 'configuration_fields[]', config do |c| %>
          <div class="field">
            <%= c.check_box :paypal %>
            <%= c.label :paypal do %>
              <%= tag.i class: 'fa fa-paypal' %>
              <%= c.object.class.human_attribute_name(:paypal) %>
            <% end %>
          </div>

          <div class="field">
            <%= c.check_box :apple_pay %>
            <%= c.label :apple_pay do %>
              <%= tag.i class: 'fa fa-apple' %>
              <%= c.object.class.human_attribute_name(:apple_pay) %>
            <% end %>
          </div>

          <div class="field">
            <%= c.check_box :credit_card %>
            <%= c.label :credit_card do %>
              <%= tag.i class: 'fa fa-credit-card' %>
              <%= c.object.class.human_attribute_name(:credit_card) %>
            <% end %>
            +
            <%= c.check_box :three_d_secure %>
            <%= c.label :three_d_secure do %>
              <%= tag.i class: 'fa fa-shield' %>
              <%= c.object.class.human_attribute_name(:three_d_secure) %>
            <% end %>
          </div>

          <% config.admin_form_preference_names.each do |name| %>
            <%= render "spree/admin/shared/preference_fields/#{config.preference_type(name)}",
                       form: c, attribute: "preferred_#{name}",
                       label: t(name, scope: 'spree', default: name.to_s.humanize) %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <div class="form-buttons filter-actions actions">
    <%= submit_tag "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
