<fieldset data-hook="credit_card">
  <legend align="center"><%= SolidusPaypalBraintree::Gateway.model_name.human %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:identifier) %>:</dt>
        <dd><%= payment.number %></dd>

        <% if payment.source.token.present? %>
          <dt><%= t('solidus_paypal_braintree.token') %>:</dt>
          <dd><%= payment.source.token %></dd>
        <% else %>
          <dt><%= t('solidus_paypal_braintree.nonce') %>:</dt>
          <dd><%= payment.source.nonce %></dd>
        <% end %>

        <dt><%= Spree.t(:response_code) %>:</dt>
        <dd><%= payment.response_code %></dd>
      </dl>
    </div>
  </div>
</fieldset>
