<% id = payment_method.id %>

<fieldset class="no-border-bottom braintree-hosted-fields" data-braintree-hosted-fields data-id="<%= id %>" data-payment-method-id="<%= id %>">
  <div class="field" data-hook="previous_cards">
    <% if previous_cards.any? %>
      <% previous_cards.each do |card| %>
        <label><%= radio_button_tag :card, card.id, card == previous_cards.first %> <%= card.display_number %><br /></label>
      <% end %>
      <label><%= radio_button_tag :card, "new", false, { id: "card_new#{id}" } %> <%= I18n.t("spree.use_new_cc") %></label>
    <% end %>
  </div>

  <div id="card_form<%= id %>" data-hook style="display: none;">
    <%= render partial: "spree/shared/braintree_hosted_fields", locals: { id: id } %>
  </div>
</fieldset>
