<% id = payment_method.id %>
<% radio_buttons_use_name = Gem::Version.new(Spree.solidus_version) < Gem::Version.new('1.3') %>
<% radio_button_id = radio_buttons_use_name ? 'braintree' : payment_method.id %>

<fieldset class="no-border-bottom braintree-hosted-fields" data-braintree-hosted-fields data-id="<%= radio_button_id %>" data-payment-method-id="<%= id %>">
  <div class="field" data-hook="previous_cards">
    <% if previous_cards.any? %>
      <% previous_cards.each do |card| %>
        <label><%= radio_button_tag :card, card.id, card == previous_cards.first %> <%= card.display_number %><br /></label>
      <% end %>
      <label><%= radio_button_tag :card, "new", false, { id: "card_new#{id}" } %> <%= Spree.t(:use_new_cc) %></label>
    <% end %>
  </div>

  <div id="card_form<%= id %>" data-hook style="display: none;">
    <%= render partial: "spree/shared/braintree_hosted_fields", locals: { id: id } %>
  </div>
</fieldset>
