<div id="paypal-button"></div>

<script>
  var address = <%= SolidusPaypalBraintree::Address.new(current_order.ship_address).to_json %>

  var paypalOptions = {
    flow: '<%= SolidusPaypalBraintree::Gateway.first.preferred_paypal_flow %>',
    amount: '<%= current_order.total %>',
    currency: '<%= current_order.currency %>',
    enableShippingAddress: true,
    shippingAddressOverride: address,
    shippingAddressEditable: false,
    environment: '<%= Rails.env.production? ? "production" : "sandbox" %>',
    locale: '<%= paypal_button_preference(:paypal_button_locale, store: current_store) %>',
    style: {
      color: '<%= paypal_button_preference(:paypal_button_color, store: current_store) %>',
      size: '<%= paypal_button_preference(:paypal_button_size, store: current_store) %>',
      shape: '<%= paypal_button_preference(:paypal_button_shape, store: current_store) %>',
      label: '<%= paypal_button_preference(:paypal_button_label, store: current_store) %>',
      tagline: '<%= paypal_button_preference(:paypal_button_tagline, store: current_store) %>'
    }
  }

  var button = new SolidusPaypalBraintree.createPaypalButton(document.querySelector("#paypal-button"), paypalOptions);
  button.initialize();
</script>
