<% address = current_order.ship_address %>

<button id="apple-pay-button" class="apple-pay-button"></button>

<script>
  var applePayButtonElement = document.getElementById('apple-pay-button');
  var applePayOptions = {
    paymentMethodId: <%= id %>,
    storeName: "<%= current_store.name %>",
    orderEmail: "<%= current_order.email %>",
    amount: "<%= current_order.total %>",
    shippingContact: {
      emailAddress: '<%= current_order.email %>',
      givenName: '<%= address.firstname %>',
      familyName: '<%= address.lastname %>',
      phoneNumber: '<%= address.phone %>',
      addressLines: ['<%= address.address1 %>','<%= address.address2 %>'],
      locality: '<%= address.city %>',
      administrativeArea: '<%= address.state.name %>',
      postalCode: '<%= address.zipcode %>',
      country: '<%= address.country.name %>',
      countryCode: '<%= address.country.iso %>'
    }
  };
  var button = new SolidusPaypalBraintree.createApplePayButton(applePayButtonElement, applePayOptions);
  button.initialize();
</script>
