<% if defined?(id) && !defined?(payment_method) %>
  <% payment_method = Spree::PaymentMethod.find(id) %>
  <% Spree::Deprecation.warn(
    "passing id to _braintree_hosted_fields.html.erb is deprecated. Please pass the payment_method directly.",
    caller
  ) %>
<% end %>

<% prefix = "payment_source[#{payment_method.id}]" %>

<div class="hosted-fields">
  <div class="field" data-hook="card_number">
    <%= label_tag "card_number#{payment_method.id}", Spree::CreditCard.human_attribute_name(:number), class: "required" %>
    <div class="input" id="card_number<%= payment_method.id %>"></div>
  </div>

  <div class="field" data-hook="card_expiration">
    <%= label_tag "card_expiry#{payment_method.id}", Spree::CreditCard.human_attribute_name(:expiration), class: "required" %>
    <div class="input" id="card_expiry<%= payment_method.id %>"></div>
  </div>

  <div class="field" data-hook="card_code">
    <%= label_tag "card_code#{payment_method.id}", Spree::CreditCard.human_attribute_name(:card_code), class: "required" %>
    <div class="input" id="card_code<%= payment_method.id %>"></div>

    <a href="/content/cvv" class="info cvvLink" target="_blank">
      (<%= I18n.t("spree.what_is_this") %>)
    </a>
  </div>

  <div class="clear"></div>
  <input type="hidden" name="<%= prefix %>[payment_type]" value="<%= SolidusBraintree::Source::CREDIT_CARD %>">
  <input type="hidden" id="payment_method_nonce" name="<%= prefix %>[nonce]">
</div>


<script>
  <% if current_store.braintree_configuration.three_d_secure? %>
    var threeDSecureOptions = <%= raw braintree_3ds_options_for(current_order).to_json %>;
  <% end -%>
  var credit_card_fields_style = <%= raw payment_method.preferred_credit_card_fields_style.to_json %>
  var placeholder_text = <%= raw payment_method.preferred_placeholder_text.to_json %>
</script>
