<%= render "spree/shared/paypal_braintree_head_scripts" %>

<div id="paypal-button"></div>
<div data-pp-message data-pp-placement="payment" data-pp-amount="<%= current_order.total %>"></div>

<%= render "spree/shared/braintree_errors" %>

<script>
  var paypalOptions = {
    flow: '<%= SolidusPaypalBraintree::Gateway.first.preferred_paypal_flow %>',
    amount: '<%= current_order.total %>',
    currency: '<%= current_order.currency %>',
    enableShippingAddress: true,
    environment: '<%= Rails.env.production? ? "production" : "sandbox" %>',
    locale: '<%= paypal_button_preference(:paypal_button_locale, store: current_store) %>',
    style: {
      color: '<%= paypal_button_preference(:paypal_button_color, store: current_store) %>',
      shape: '<%= paypal_button_preference(:paypal_button_shape, store: current_store) %>',
      label: '<%= paypal_button_preference(:paypal_button_label, store: current_store) %>',
      layout: '<%= paypal_button_preference(:paypal_button_layout, store: current_store) %>',
      <% if paypal_button_preference(:paypal_button_layout, store: current_store) == "horizontal" %>
        tagline: '<%= paypal_button_preference(:paypal_button_tagline, store: current_store) %>',
      <% end %>
      messaging: '<%= paypal_button_preference(:paypal_button_messaging, store: current_store) %>'
    }
  }
  var options = {
    restart_checkout: true
  }
</script>
