<%= button_tag '', id: 'venmo-button', class: 'venmo-button', type: 'button' %>

<% store = Spree::Store.default %>
<% style = venmo_button_style(store) %>

<style>
  .venmo-button {
    width: <%= style[:width] %>px;
    background-image: url('<%= venmo_button_asset_url(style)%>');
  }
  .venmo-button:active, .venmo-button:hover {
    background-color: transparent !important;
    background-image: url('<%= venmo_button_asset_url(style, active: true)%>') !important;
  }
</style>

<% prefix = "payment_source[#{payment_method.id}]" %>

<div class="venmo-fields">
  <div class="clear"></div>
  <input disabled type="hidden" name="<%= prefix %>[payment_type]" value="<%= SolidusBraintree::Source::VENMO %>">
  <input disabled type="hidden" id="venmo_payment_method_nonce" name="<%= prefix %>[nonce]">
</div>

<script>
  var venmoButtonElement = document.getElementById('venmo-button');
  var venmoOptions = {
    newBrowserTabSupported: <%= SolidusBraintree::Gateway.first.preferred_venmo_new_tab_support %>,
    flow: '<%= SolidusBraintree::Gateway.first.preferred_paypal_flow %>'
  };
  var button = new SolidusBraintree.createVenmoButton(venmoButtonElement, venmoOptions);
  button.initialize();
</script>
